html, div, a, p{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}


#page1 {
  visibility: visible;
  float: left;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1000;
  background-color: black;
}

#page1 div {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  opacity: 0.6;
  z-index: 1000;
  background-color: black;
  color: white;
  border: 1px solid #000;
  text-align: center;

  border: 1px solid white;
}

#page1 p {
  width: 300px;
  margin: 220px auto 250px auto;
  opacity: 1.0;
  border: 1px solid red;
}

.next{
  background-color: yellow;
  color: black;
  border: 1px solid white;
}


#page2 {
  visibility: hidden;
  float: left;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1000;
  background-color: black;
}

#page2 div {
  position: relative;
  top: -400px;
  left: 0px;
  /*width: 100%;*/
  width: 800px;
  height: 500px;
  opacity: 0.6;
  z-index: 1000;
  background-color: black;
  color: white;
  border: 1px solid #000;
  text-align: center;

  border: 1px solid white;
}

#page2 p {
  width: 200px;
  opacity: 1.0;
}

#page2 .left {
  float: left;
  margin: 100px 0 0 100px;
  border: 1px solid red;
}
#page2 .right {
  float: right;

  margin: 100px 100px 0 100px;
  border: 1px solid red;
}

#page2 .next{
  position: absolute;
  top: 150px;
  margin: 0 auto;
  background-color: yellow;
  color: black;
  border: 1px solid white;
}


#overlay {
  visibility: hidden;
  float: left;
  /*position: absolute;
  left: 0px;
  top: 0px;*/
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1000;
  background-color: black;
}

#overlay div {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  opacity: 0.6;
  z-index: 1000;
  background-color: black;
  color: white;
  border: 1px solid #000;
  text-align: center;
  border: 1px solid white;
}

#overlay p {
  width: 400px;
  margin: 220px auto 250px auto;
  opacity: 1.0;
  border: 1px solid red;
}

.launch{
  background-color: yellow;
  color: black;
  border: 1px solid white:
}

#game-canvas{
  margin: 0 auto;
}


h1 {
  color: white;
  font-size: 36px;
  text-align: center;
}

body {
  background: black;
  width: 800px;
  margin: 0px auto 0 auto;
}

.logo {
  margin: 0 auto;
  border: 1px solid red;
  color: white;
  display: block;
  width: 100px;
  text-align: center;
}

/*Status Display Overlay*/
/*div display container*/
.display {
  position: absolute;
  top: 100px;

  color: white;
  font-size: 24px;
}

/*left*/
.shields {
  position: absolute;
  top: -75px;
  left: 25px;
  width: 125px;

}
.shield-status {
  float: right;

}

.lives {
  position: absolute;
  top: -50px;
  left: 25px;
  width: 120px;
}
.lives-count {
  float: right;
}

/*center*/


.rounds {
  position: absolute;
  top: -40px;
  left: 350px;
  width: 120px;
}
.rounds-count {
  float: right;
}

/*right*/
.shields_p2 {
  position: absolute;
  top: -75px;
  left: 550px;
  width: 125px;

}
.shield-status_p2 {
  float: right;

}

.lives_p2 {
  position: absolute;
  top: -50px;
  left: 550px;
  width: 120px;
}
.lives-count_p2 {
  float: right;
}

/*End Status Display*/
