div {

  display: inherit;
}

#overlay {
  visibility: visible;
  float: left;
  /*position: absolute;
  left: 0px;
  top: 0px;*/
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1000;
  background-color: black;
}

#overlay div {
  position: absolute;
  /*left: 250px;
  top: 0px;*/
  top: 0px;
  left: 0px;
  width: 100%;


  opacity: 0.6;
  z-index: 1000;
  background-color: black;
  color: white;
  border: 1px solid #000;
  text-align: center;

  border: 1px solid white;
}

#overlay p {
  width: 300px;
  margin: 220px auto 250px auto;
  opacity: 1.0;
  border: 1px solid red;
}

#game-canvas{
  margin: 0 auto;
}

#content {
    border-radius:8px;
    background:#fff;
    padding:20px;
}

#close {
    position:absolute;
    /*background:url(close.png) 0 0 no-repeat;*/
    width:24px;
    height:27px;
    display:block;
    text-indent:-9999px;
    top:-7px;
    right:-7px;
}

h1 {
  color: white;
  font-size: 36px;
  text-align: center;
}

body {
  background: black;
  width: 800px;
  margin: 0px auto 0 auto;
}

.display {
  position: absolute;
  top: 100px;

  color: white;
  font-size: 24px;
}

.shield {
  position: absolute;
  left: 25px;
  width: 125px;

}
.shield-status {
  float: right;

}

.lives {
  position: absolute;
  left: 675px;
  width: 100px;
}
.lives-count {
  float: right;
}
